/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

html {
  scroll-behavior: smooth;
}

a {
  color: #0B8B2C;
  text-decoration: none;
  transition: 0.5s;
}

a:hover {
  color: #0b8b2ba9;
  text-decoration: none;
  transition: 0.5s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #0B8B2C;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #0B8B2C;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #0b8b2ba9;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background: white;
}

#header.header-scrolled,
#header.header-inner-pages {
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Aggiungi box-shadow */
}


#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 55px;
}

@media (max-width: 992px) {
  #header {
    border: 0;
    padding: 15px 0;
  }
}


/* Get Startet Btn */
.btn {
	padding: 0.8em 1.8em;
	border: 2px solid #0B8B2C;
	position: relative;
	overflow: hidden;
	background-color: transparent;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	transition: .3s;
	z-index: 1;
	font-family: inherit;
	color: #0B8B2C;
	border-radius:0px;
   }
   
   .btn::before {
	content: '';
	width: 0;
	height: 350%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	background: #0B8B2C;
	transition: .5s ease;
	display: block;
	z-index: -1;
   }
   
   .btn:hover::before {
	width: 105%;
   }
   
   .btn:hover {
	color: #fff;
   }

/* Get Startet Button */
.get-started-btn {
  margin-left: 25px;
  background: #0B8B2C;
  color: #fff;
  border-radius: 50px;
  padding: 8px 25px 9px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
}

.get-started-btn:hover {
  background: #0b8b2ba9;
  color: #fff;
}

@media (max-width: 992px) {
  .get-started-btn {
    margin: 0 15px 0 0;
    padding: 6px 18px;
  }
}

/* Get Startet Button Hero */
.get-started-btn-hero {
	background: #0B8B2C;
	color: #fff;
	border-radius: 50px;
	padding: 8px 25px 9px 25px;
	white-space: nowrap;
	transition: 0.3s;
	font-size: 14px;
	display: inline-block;
  }
  
  .get-started-btn-hero:hover {
	background: #0b8b2ba9;
	color: #fff;
  }

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

@media (min-width: 992px) {
	.navbar {
		padding: 0;
		margin-left: 100px!important;
	}
  }

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar>ul>li {
  position: relative;
  white-space: nowrap;
  margin: 0 12px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 3px;
  font-size: 14px;
  font-weight: 600;
  color: #0B8B2C;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #0B8B2C;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #0b8b2ba9;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #0B8B2C;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(15, 15, 15, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #282828;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
  visibility: hidden;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #0b8b2ba9;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
	position: relative;
	width: 100%;
	height: 40vh;
	overflow: hidden;
	margin-top: 65px;
}

.slide {
	position: absolute;
	width: 100%;
	height: auto;
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

.slide img {
	width: 100%;
	height: auto;
}

.active {
	opacity: 1;
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 80px 0;
  overflow: hidden;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
	text-align: center;
  }
  
  .section-title h2::after {
	content: "";
	position: absolute;
	display: block;
	width: 70px;
	height: 3px;
	background: #0B8B2C;
	bottom: 0;
	left: 50%;
	margin-left: -30px;
	border-radius: 50px;
  }
  

.section-title p {
  margin-bottom: 0;
  color: #777777;
  font-size: 15px;
}

/*--------------------------------------------------------------
# Intro
--------------------------------------------------------------*/
.intro .content-pre-title p {
	text-align: center;
	margin-bottom: 0;
	color:#0b8b2ba9;
  }

.intro .content p {
  text-align: justify;
  margin-bottom: 0;
}   

/*--------------------------------------------------------------
# Bootstrap Div
--------------------------------------------------------------*/
.second-background-color{
	background-color: #f3f5f0;
}

.bootstrap-div .content p {
	margin-bottom: 0;
	text-align: justify!important;
}

.bootstrap-div .container {
    display: flex;
    justify-content: center!important;
    align-items: center;
}

.bootstrap-div .section-title h2 {
    text-align: left;
}

.aft-left h2::after {
	content: "";
	position: absolute;
	display: block;
	width: 70px;
	height: 3px;
	background: #0B8B2C;
	bottom: 0;
	left: 0%;
	margin-left: 0px;
	border-radius: 50px;
  }

  @media (max-width: 767px) {
    .second-bootstrap-div{
        flex-direction: column-reverse!important;
		text-align: justify!important;
    }
	
	.bootstrap-div{
		text-align: justify!important;
    }
}

@media (max-width: 767px) {
    .div_image_lg {
        display: none;
    }
}

@media (min-width: 767px) {
    .div_image_sm {
        display: none;
    }
}


.div_image_lg{
	background-size: cover;
	background-repeat:no-repeat;
	background-position: center;
	border-radius:10px;
	transition: background-size 0.5s ease-in-out!important;
	background-size: 100%;
}

.div_image_lg:hover{
	background-size: 110%;
}

.div_image_sm img{
	border-radius:10px;
}


@media (min-width: 767px) {
    .col-prod{
		margin-left:20px;
	}
	.col-az{
		margin-right:20px;
	}
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  background: url("../img/42\ \(2\).jpg") center center no-repeat;
  background-size: cover;
  padding: 80px 0 60px 0;
  position: relative;
  /* height: 50vh; */
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
}

.col-counts{
	display: flex!important;
	justify-content: center!important;
	align-items: center!important;
  }

.counts::before {
  content: "";
  position: absolute;
  background: rgba(17, 17, 17, 0.9);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.counts .title {
  position: relative;
  color: #fff;
  margin-bottom: 40px;
}

.counts .title h3 {
  font-size: 36px;
  font-weight: 700;
}

.counts .counters span {
  font-size: 48px;
  display: block;
  font-weight: 700;
  color: #0B8B2C;
}

.counts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #fff;
}

@media (min-width: 1200px) {
  .counts {
    background-attachment: fixed;
  }
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.row-gallery{
	display: flex !important;
	justify-content: center!important;
}

/*--------------------------------------------------------------
# Contatti
--------------------------------------------------------------*/
.contatti{
	background-color: #f3f5f0;
}

.contatti .info i {
  font-size: 32px;
  color: #0B8B2C;
  float: left;
  line-height: 1;
}

.contatti .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #282828;
}

.contatti .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #5b5b5b;
}

.contatti .info a {
	font-size: 14px;
	color: #5b5b5b!important;
}
.contatti .info a:link {
	font-size: 14px;
	color: #5b5b5b!important;
}
.contatti .info a:visited {
	font-size: 14px;
	color: #5b5b5b!important;
}
.contatti .info a:active {
	font-size: 14px;
	color: #5b5b5b!important;
}

.contatti .info .email,
.contatti .info .phone,
.contatti .info .address{
  margin-top: 40px;
  display: flex;
  justify-content: center!important;
}

.mappa-contatti{
	margin-bottom: -86px;
	margin-top:50px;
}

.ct-contatti{
	display: flex!important;
	justify-content: center!important;
	align-items: center!important;
	width: 100%!important;
	text-align: center;
	margin-top: 10px;
}

.row-contatti{
	display: flex!important;
	justify-content: space-between!important;
	align-items: center!important;
	width: 100%!important;
}

.col-contatti{
	display: flex!important;
	justify-content: center!important;
	align-items: center!important;
	margin-top: 40px;
}

.row-info{
	display: flex;
	flex-direction: column;
	justify-content: center!important;
	align-items: center!important;
}

.col-info{
	display: flex;
	flex-direction: column;
	justify-content:center!important;
	align-items: center!important;
}

.row-aep{
	display: flex!important;
	flex-direction: column!important;
	justify-content: center!important;
	margin-top: -20px;
}

.col-aep{
	display: flex!important;
	justify-content: center!important;
	
}

.tit-cont,
.par-cont{
	margin-right: 60px;
}

.col-info i{
	font-size: 40px!important;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #fff;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  color: #444444;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  padding: 0;
  margin: 0 0 40px 0;
  color:#444444;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #0B8B2C;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #0B8B2C;
  color: #fff;
  text-decoration: none;
}

#footer .credits {
  font-size: 13px;
}

#footer .credits a {
  color: #0B8B2C;
  transition: 0.3s;
}

#footer .credits a:hover {
  color: #0b8b2ba9;
}

.logo-footer{
	width:12vh;
	margin-bottom: 17px
}

#footer hr{
	color:#5e5e5e;
}

.credits{
	display: flex;
	justify-content: center;
}

.privacy-policy-footer{
	margin-bottom:30px;
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.fancybox-progress {
	background-color: #0B8B2C!important;
}

/*--------------------------------------------------------------
# Scroll bar
--------------------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	scrollbar-width: thin;
	scrollbar-color: #0B8B2C #fff;
}

::-webkit-scrollbar {
	height: 4px;
	width: 4px;
	background: #0B8B2C;
}

::-webkit-scrollbar-thumb {
	background: #0B8B2C;
	-webkit-border-radius: 1ex;
	-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
	background: transparent;
}

/*--------------------------------------------------------------
# Missione
--------------------------------------------------------------*/
.img-bw {
	filter: grayscale(100%);
	transition: filter 0.5s;
}

.img-bw:hover {
	filter: grayscale(0%);
}

/*--------------------------------------------------------------
# Storia
--------------------------------------------------------------*/
.storia {
	background: url("../img/1.jpg") center center no-repeat;
	background-size: cover;
	padding: 80px 0 60px 0;
	position: relative;
	/* height: 50vh; */
	display: flex!important;
	justify-content: center!important;
	align-items: center!important;
  }
  
  .storia::before {
	content: "";
	position: absolute;
	background: rgba(17, 17, 17, 0.814);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
  }
  
  .storia .section-title {
	position: relative;
	color: #fff;
  }
  
  .storia h2 {
	font-size: 36px;
	font-weight: 700;
  }

  .p-storia p{
	position: relative;
	color: #ffffffc4;
  }